.langbar {
    display: flex;
    justify-content: flex-end;

    span {
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &.active {
            color: blue;
        }
    }
}

.header {
    .title {
        font-weight: bold;
        text-align: center;
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .card-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .user-list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;

            label {
                margin-right: 5px;
                margin-bottom: 0px;
            }

            select {
                position: relative;
                cursor: pointer;
                background-image:
                    linear-gradient(45deg, transparent 50%, gray 50%),
                    linear-gradient(135deg, gray 50%, transparent 50%),
                    linear-gradient(to right, #ccc, #ccc);
                background-position:
                    calc(100% - 20px) calc(1em + 2px),
                    calc(100% - 15px) calc(1em + 2px),
                    calc(100% - 2.5em) 0.5em;
                background-size:
                    5px 5px,
                    5px 5px,
                    1px 1.5em;
                background-repeat: no-repeat;
                min-width: 160px;
            }
        }

        .schema-list {
            .form-check-input {
                position: absolute !important;
            }
        }
    }
}

.home-container {
    .actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .gap-25 {
            margin-bottom: 25px;
        }

        button {
            margin-top: 5px;
        }
    }

    .main-panel {

        .treeviews {

            .available,
            .location {
                min-height: 350px;

                .card-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }

            .arrows {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 120px;

                button {
                    font-size: 20px;
                    padding: 5px 25px;
                }
            }
        }
    }
}